*{
    font-family: "Karla", sans-serif;
    font-size: 1.4rem;
}

.mainContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 0;
 padding:  0 3.6rem;
}
.formContainer {
 display: grid;
 grid-template:
 'labelLeft inputRight' 0.01rem
 'inputLeft labelRight' 3.4rem
 'button button' 3.6rem
 /1fr 1fr ;/*ancho y numero de colum*/
 margin: 2.5rem;
 gap: 2rem 3rem;
 
 
 
}
.labelLeft {
 grid-area: labelLeft;
}
.inputLeft {
 grid-area: inputLeft;

}
.labelRight {
 grid-area: labelRight;
}
.inputRight {
 grid-area: inputRight;
    
}
.button {
 grid-area: button;
 border-style: none;
 color: white;
 border-radius: 0.5rem;
 background: linear-gradient(to right, #672280, #A626D3);
}

.button {
    cursor: pointer;
}
.button:hover {
    background: linear-gradient(to right, #7e4093, #b164ce);
}
.meme{
    position: relative;
}
.imageMeme {
    
    
    max-width: 100%;
    border-radius: 0.3rem;
    
}

.imageTextTop{
    top: 0;
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.imageTextBottom{
    bottom: 0;
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
    
